<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mp3player">
    <!--读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".windows.BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".service.LoginService"/>
        <service android:name=".service.MusicPlayerService"/>
        <service android:name=".service.DownloadService"/>

                 <!--android:process=":remote"-->

        <activity android:name=".windows.login.LoginActivity"/>
        <activity android:name=".windows.login.ForgetPasswordActivity"/>
        <activity android:name=".windows.login.MyDataActivity"/>
        <activity android:name=".windows.login.RegisterActivity"/>
        <activity android:name="com.example.mp3player.windows.MainActivity"/>
        <activity android:name=".windows.main.page.mine.localMusic.FindMusicInLocalActivity"/>
        <activity android:name=".windows.PlayingActivity"/>
        <activity android:name=".windows.ZoneActivity"/>
    </application>

</manifest>